body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/755/610/large_2x/close-up-of-nature-view-green-leaf-on-white-sky-and-blurred-greenery-background-under-sunlight-with-bokeh-and-copy-space-using-as-background-natural-plants-landscape-ecology-wallpaper-concept-free-photo.jpg");
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
}
.container{
  margin-left: 10%;
  width: 1000px;
  height: 500px;
}
.rasm{
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.fish{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  rotate: -10deg;
  text-shadow: 2px 2px 5px rgb(95, 94, 94);
}
.messengers {
  list-style: none;
  display: flex;
  margin-left: 38.5%;
}
.messenger{
  padding-top: 10px;
  padding-left: 10px;
}
.kasb{
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 20px;
}