/*        created by Abduraxim Tursunboyev  */
/*        date: 06.01.2024                  */
body{
  background: url("./images/cover_bg_3.jpg") transparent;
  background-size: cover;
  background-color: rgb(79, 75, 83);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
}
.rasm{
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 10%;
}
.fish{
  color: aliceblue;
  padding-top: 1%;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 55px;
  rotate: -10deg;
  text-shadow: 2px 2px 5px rgb(95, 94, 94);
}
.messengers {
  padding-top: 1%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -60px;
}
.messenger{
  padding-left: 15px;
  color: black;
  width: 17;
  height: 17;
}
.messenger a-i{
  color: black;
}
.kasb{
  color: aliceblue;
  padding-top: 1%;
  text-align: center;
  font-size: 20px;
}
.kasb a{
  color: aliceblue;
  font-family: 'Merriweather', serif;
}
